.btn {
    display: flex;
    width: 260px;
    height: 60px;
    padding: 0px 24px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: #FC9B27;
    border:none;
    color: #ffffff;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 27px */
}
