.about {
    display: flex;
    position: relative;
    padding-left: 90px;
    padding-top: 37px;
    padding-bottom: 0;
    padding-right: 603px;
    background: #D8ECFE;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    box-sizing: border-box;
}

.about__wrapper {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    min-width: 650px;
    z-index: 3;
}

.about__text {
    margin: 27px 0 0 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}

.about__work-time {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: inline-block;
    min-height: 43px;
    min-width: 292px;
    margin-bottom: 20px;
    padding: 8px;
    border-radius: 8px;
    background-color: #ffeead;
    vertical-align: middle;
}

.about__address {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
